@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);

@font-face {
	
	font-family: 'Great';
	src: url('../typos/Great/GreatVibes-Regular.otf') format('truetype');
}

html {
	background-image: url('../img/bg.png');
}

body {
	width: 50%;
	margin: 0 auto;
	background-color: white;
	padding: 2em;
	margin-top: 7em;
	border-radius: 8px;
	box-shadow: 0.5px 0.5px 5px white;
	border: 1px solid #AFAFAF;
	font-family: 'Corbel' 'sans-serif';
	font-size: 14px;
}

header a {
	font-size: 20px;
	text-decoration: none;
	position: absolute;
	left: 50em;
	top: 2.7em;
	color: black;
	background: url('../img/maison.png') no-repeat;
	height: 50px;
	width: 50px;
}

h1{
	font: 50px 'Great';
	position: absolute;
	top:-30px;
	left: 320px;
	color: #AFAFAF;
	margin-top: 1.2em;
}

.formUrl input {
	padding: 1em;
	font: 20px 'Corbel';
	border-radius: 1px;
}

.submit,button {
	background: #111;
	background: -webkit-gradient(linear, 0 0, 0 100%,
	color-stop(0, rgba(50, 50, 50, 0.9)),
	color-stop(0.5, rgba(30, 30, 30, 0.9)),
	color-stop(0.5, rgba(20, 20, 20, 0.9)),
	color-stop(1, rgba(0, 0, 0, 0.9)));
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
				rgba(0, 0, 0, 0.9) 0%,
				rgba(20, 20, 20, 0.9) 50%,
				rgba(30, 30, 30, 0.9) 50%,
				rgba(50, 50, 50, 0.9) 100%);
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size: 22px;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	cursor: pointer;
	box-shadow: 0.2px 0.2px 3px black;
	margin-top: 1em;
}

.submit:hover, button:hover {
	background: #999;
}

a.submit {
	text-decoration: none;
	font-family: 'Corbel';
	padding: 0.3em;
	box-shadow: 0.5px 0.5px 2px #181818;
	font-size: 14px;
}

div.choisir {
	font-family: 'Corbel';
	font-size: 18px;
}

.choisir input, .choisir textarea {
	font-family: 'Corbel';
	border: none;
}

.formChoisir {
	background-image: url('../img/bg-choisir.png');
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0em 0.5em 0.5em;
	box-shadow: 0.5px 0.5px 5px #181818;
	padding: 0.5em;
	width: 22%;
}

.formChoisir li {
	list-style-type: none;
}

	.img {
		font: 30px 'Great'; 
		color: #AFAFAF;
	}

input.titre {
	font-size: 18px;
}

ol {
	font-family: 'Corbel', 'sans-serif';
}