@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);

html {
	background-color: #D8B213;
}
body {
	margin: 0 auto;
	width: 500px;
	background-color: #2D2F33;
	border-radius: 5px;
	box-shadow: 2px 5px 15px #2D2F33;
}

div {
	text-align: center;
	padding: 1em;
	margin-top: 5em;
	border: 1px dashed #D8B213;
}

h1 {
	font: 30px 'Lobster', cursive;
	position: absolute;
	top: 22px;
	left: 15em;
	color: #D8B213;
	border-radius: 5px 5px 0px 0px;
	border: 1px dashed #D8B213;
	border-bottom: none;
	padding: 0 0.2em;
	background-color: #2D2F33;
}

.formUrl, .formChoisir, .choisir {
	margin-top: 0em;
	border: none;
	color: #D8B213;
}

input{
	font: 20px 'Ropa Sans', cursive;
	color: #2D2F33;
}

.choisir, .formChoisir {
	text-align: left;
}

.radio {
	display: block;
}

.formChoisir img {
}